PORT=
MONGO_URI=
JWT_SECRET=
FRONTEND_URL=
FRONTEND_DEV_URL=http://localhost:5173
BACKEND_URL=http://localhost:5001
GOOGLE_CALLBACK_URL=http://localhost:5001/api/auth/google/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GEMINI_API_KEY=
NODE_ENV=production
