PORT=

MONGO_URI=

JWT_SECRET=

FRONTEND_URL=

FRONTEND_DEV_URL=

FRONTEND_STATIC_PATH=

BACKEND_URL=

OPENAI_API_KEY=

OPENAI_BASE_URL=

OPENAI_MODEL=

OPENAI_MODEL_TURBO=

OPENAI_MODEL_MINI=

GEMINI_API_KEY=

NODE_ENV=

GOOGLE_CLIENT_ID=

GOOGLE_CLIENT_SECRET=

GOOGLE_CALLBACK_URL=